[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-tailwind = {extras = ["honcho", "cookiecutter", "reload"], version = "*"}
django-user-agents = "*"
django = "*"

[dev-packages]

[requires]
python_version = "3.12"
