{% extends 'mobile/base.html' %}

{% block content %}

<form method = "POST">
    {% csrf_token %}
    <div class="space-y-3">
        <input type="text" name="note_name" placeholder="Enter note name..." class="bg-ghost input input-bordered w-full bg-base-200 text-base-content placeholder-base-content/40 focus:outline-none focus:border-primary" required />
        <div class="w-full">
            <select name="selected_folder" class="select select-bordered w-full text-left bg-base-100 text-base-content focus:outline-none focus:border-primary">
                <option disabled selected>🖿 Choose Folder</option>
                
                {% for folder in folders %}
                    <option value="{{ folder.id }}">{{ folder.name }}</option>
                {% empty %}
                    <option value="" disabled>No folders available. Create one first!</option>
                {% endfor %}
            </select>
        </div>

        <div class="w-full border border-base-200 rounded-2xl shadow-sm overflow-hidden bg-base-100">
            <div class="p-6 bg-base-100">
                <textarea 
                    name="note_text" 
                    rows="11" 
                    placeholder="Start typing your study notes here..." 
                    spellcheck="true"
                    class="w-full h-5 resize-none bg-transparent placeholder:text-[#5C3A41]/40 text-base-content text-base focus:outline-none"
                    style="height: calc(100vh - 350px);"
                ></textarea>
            </div>

        </div>

    <header class="fixed top-0 left-0 w-full z-50 bg-base-100/95 bg-base-100 border-b border-base-300 h-16 flex items-center justify-between px-8">
        <div class="flex items-center gap-3">
            <a href="{% url 'folders' %}" class="flex items-center gap-3">
                <i class="fas fa-arrow-left text-lg"></i>
                <h1 class="font-bold text-lg tracking-tight">Create New Note</h1>
            </a>
        </div>
        
        <button type = "submit" class="btn btn-accent mt-1">
        Create
        </button>
        
    </header>
</form>

{% endblock %}